FrontEndCSharp/IngeSoftVirtual/IngeSoftVirtual/Connected Services/ServiceWS/ServiceWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.ingesoft.pucp.edu.pe/" targetNamespace="http://services.ingesoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertarCurso" type="tns:InsertarCurso" />
  <xs:element name="InsertarCursoResponse" type="tns:InsertarCursoResponse" />
  <xs:element name="ListarCursoPorNombre" type="tns:ListarCursoPorNombre" />
  <xs:element name="ListarCursoPorNombreResponse" type="tns:ListarCursoPorNombreResponse" />
  <xs:element name="ListarTodasEspecialidades" type="tns:ListarTodasEspecialidades" />
  <xs:element name="ListarTodasEspecialidadesResponse" type="tns:ListarTodasEspecialidadesResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarCursoPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarCursoPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element name="creditos" type="xs:int" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTodasEspecialidades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodasEspecialidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>